<%= form_for(@shift) do |f| %>
  <% if @shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
      <% @shift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type_shift %><br>
    <%= f.text_field :type_shift %>
  </div>
  <div class="field">
    <%= f.label :start_shift %><br>
    <%= f.text_field :start_shift %>
  </div>
  <div class="field">
    <%= f.label :end_shift %><br>
    <%= f.text_field :end_shift %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
